body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    background-color: yellow;
}

#score-area {
    height : 200px;
    width: 100vw;
}

#game-area {
    height:300px;
    width: 100vw;
    background-color: white;
}